Coursera IBM Data Scicence

Course 2 Tools for Data Science

Module 6 Create and Share your Jupyter Notebook

Hands-on Lab: Create your Jupyter Notebook

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 1: Create a Jupyter Notebook
# Name the file as `DataScienceEcosystem.ipynb`


# Exercise 2: Markdown cell for the title

# Data Science Tools and Ecosystem

# Exercise 3: Markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4: Markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

# Exercise 5: Markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

# Exercise 6: Markdown cell with a table of Data Science tools

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

# Exercise 7: Markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

# Exercise 8: Code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

# Exercise 9: Code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

# Exercise 10: Markdown cell to list objectives

**Objectives:**
- List popular languages for Data Science
- Discuss commonly used libraries for Data Science
- Introduce open-source development environments for Data Science
- Provide examples of arithmetic operations in Python

# Exercise 11: Markdown cell for the author's name

## Author
Yuki Nakayama